[data-bs-theme="dark"] .application-console-card-body {
	background-color: var(--charcoal);
	color: var(--gainsboro);
}

[data-bs-theme="light"] .application-console-card-body {
	background-color: var(--old-lace);
	color: var(--moody-blues);
}

.application-console-card-body {
	pre {
		overflow: initial;
	}

	span {
		font-family: var(--bs-font-monospace);
		font-size: 14px;
	}
}

.application-console-text-wrap {
	span {
		white-space: pre-wrap;
	}
}
