.tree-menu {
	background-color: var(--bs-body-bg);
	.tree-menu-item {
		padding: 0.5rem;
		border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
		& span {
			cursor: pointer;
		}
		/*Styling of tree menu item for dark and light mode*/

		:root, [data-bs-theme=light] &.selected {
			background-color: var(--bs-primary);
			color: var(--bs-white);
			& a, .btn {
				color: inherit;
			}
		}

		:root, [data-bs-theme=dark] &.selected {
			background-color: var(--bs-primary);
			color: var(--bs-dark);
			& a, .btn {
				color: inherit;
			}
		}

		&.disabled {
			color: var(--slate-smoke);
			background-color: inherit;
		}
	}
}
