
.datatable {
	margin-bottom: 0;
	thead {
		font-weight: 700;

		th {
			vertical-align: bottom;
		}
	}
	tbody {
		th {
			font-weight: 400;
		}
	}
	tr {
		display: table-row;
		text-align: left;
		vertical-align: inherit;
	}
	th {
		color: var(--bs-heading-color);
	}
	td, th {
		vertical-align: middle;
	}

	.data-table-arrow-btn {
		padding-left: 0.75rem;

		i {
			color: var(--bs-primary);
			cursor: pointer;
		}
	}

 }